cache=./.npm-cache
color=false
fetch-retry-maxtimeout=60000
progress=true
save-exact=true
shrinkwrap=true
sass_binary_site=https://devpackages/repository/raw-hosted/node-sass-binaries-mirror
registry= https://devpackages/repository/npm-group/
CYPRESS_INSTALL_BINARY=D:\Temp\cypress.zip